output "kubeconfig" {
  value     = scaleway_k8s_cluster.this.kubeconfig[0].config_file
  sensitive = true
}

output "cluster_id" {
  value = scaleway_k8s_cluster.this.id
}

output "region" {
  value = var.region
}
