  livekit:
    image: livekit/livekit-server:v1.11.0
    restart: unless-stopped
    environment:
      LIVEKIT_KEYS: "livekit: ${LIVEKIT_API_SECRET}"
      LIVEKIT_REDIS_ADDRESS: "{{redis.host}}:{{redis.port}}"
      LIVEKIT_USE_EXTERNAL_IP: "true"
      LIVEKIT_PORT: "7880"
      LIVEKIT_RTC_TCP_PORT: "7881"
      LIVEKIT_RTC_UDP_PORT: "7882"
      LIVEKIT_LOGGING_LEVEL: "info"
    ports:
      - "7881:7881/tcp"
      - "7882:7882/udp"
    depends_on:
      {{redis.host}}:
        condition: service_healthy
